body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;

}
.column1{
    background-color: burlywood;
    text-align: center;
    padding: 20px;
}
.column2{
    background-color:beige;
    text-align: center;
    padding: 20px;
}